




{% extends "main.html"%}
{% load static %}

{% block content%}


    <!--Contents-->
    <main class="services-page style-5">


        <!-- ====== start features ====== -->
        <section class="features section-padding pt-50 style-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-head text-center mb-60 style-5">
                            <h2 class="mb-20"> <span> Qui Sommes-Nous? </span> </h2>
                            <p>
                                DA DIGIT ALL est une Société A Responsabilité Limitée (SARL) 
                                au capital de 10 000 000 FCFA créée en 2021 et spécialisée dans 
                                la transformation digitale ainsi que les technologies de 
                                l’information et de la communication.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="section-head text-center mb-60 style-5">
                            <h2 class="mb-20"> <span> Pourquoi DADIDITALL? </span> </h2>
                            <p>
                                L’introduction des technologies de l’information et de la communication dans 
                                l’organisation des entreprises, a induit depuis plusieurs années, des améliorations 
                                sensibles en termes de rapidité, de sécurité, et d’organisation, etc. Malgré ces avancées, 
                                des défis importants comme la disparition du manuel, la suppression du papier, la gestion 
                                intégrée de tous les processus, la collecte et l’exploitation d’information décisionnelle, etc., restent à relever.
                                Il faut de nos jours considérer l’ensemble du système que représente l’entreprise y compris les partenaires 
                                pour transformer de façon impactante et durable l’organisation, en s’appuyant sur la technologie : c’est la transformation digitale. 
                                Beaucoup de responsables d’entreprise bien que conscients de cette conversion impérative, ne savent toujours pas quelle place lui accorder, quand et comment s’y prendre. 
                                Bon nombre de projets de transformation digitale n’ont pas pu voir le jour malgré des investissements importants parce que mal abordés : défaut d’approche et de méthodologie.
                                Nous appuyant sur les références personnelles des membres de l’équipe dirigeante et des promoteurs, 
                                DA Digit All est né pour apporter une réponse efficace à cette problématique qui est actuelle.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="section-head text-center mb-60 style-5">
                            <h2 class="mb-20"><span> Notre vision </span>  </h2>
                            <p>
                                Notre vision est d’être la référence en matière de transformation digitale 
                                et de conseils pour les entreprises du Bénin et de la sous-région. 

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="section-head text-center mb-60 style-5">
                            <h2 class="mb-20"> <span> Notre mission </span> </h2>
                            <p>
                                Notre mission est de conseiller et d’accompagner les entreprises, petites, moyennes ou grandes, 
                                quel que soit le secteur d’activité, en leur fournissant des solutions matérielles, logicielles, 
                                organisationnelles sur mesure, afin d’améliorer leurs performances et les conduire à l’efficience.  

                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="content">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/1.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Store Hours and Vacation
                                    </h5>
                                    <p class="text">
                                        Ideal for businesses that are seasonal or operate between fixed hours.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/2.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Coupon Management
                                    </h5>
                                    <p class="text">
                                        Set up irresistible deals and offers with flexible discount promo codes.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/3.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Product Import and Export
                                    </h5>
                                    <p class="text">
                                        Import products from and export products to CSV from vendor dashboard.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/4.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Inquiry and Support Ticket System
                                    </h5>
                                    <p class="text">
                                        Interaction with sellers help buyers to make better purchase decisions.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 mb-lg-0 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Membership Subscription
                                    </h5>
                                    <p class="text">
                                        Offer membership plans for sellers, free and paid. Accept recurring fees.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 mb-lg-0 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/6.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Invoice and Shipping Labels
                                    </h5>
                                    <p class="text">
                                        Order fulfillment made easy with store invoices and shipping labels.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card mb-30 mb-lg-0 style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        GEO Location and Radius Search
                                    </h5>
                                    <p class="text">
                                        Allow searching products or services near the user’s current location.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="features-card style-5">
                                <div class="icon">
                                    <img src="assets/img/icons/features/8.png" alt="">
                                </div>
                                <div class="info">
                                    <h5 class="card-title">
                                        Shipment and Delivery
                                    </h5>
                                    <p class="text">
                                        Share tracking of deliveries, notify when shipping status changes.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- ====== end features ====== -->

        


        <!-- ====== start about ====== -->
        <section class="about pt-0 pb-150 style-5">
            <div class="content">
                <div class="col-lg-8">
                    <div class="section-head text-center mb-60 style-5">
                        <h2 class="mb-20"> <span> Nos domaines d'intervention </span> </h2>
                        
                    </div>
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-2 order-lg-0">
                            <div class="section-head mb-30 style-5">
                                <h2>Transformation digitale 360° </h2>
                            </div>
                            <p>En partant de l’analyse des processus métiers, à la conception de solutions numériques, 
                                nous aidons les organisations à identifier les niveaux d’amélioration de tous les processus 
                                métier grâce à des outils appropriés pour leur fournir des solutions sur mesure reliant célérité, 
                                sécurité, précision, optimisation des ressources (humaines, matérielles et financières) et efficience.
                                A la suite d’analyses d’un processus métier, nous procédons à l’identification des gaspillages en termes de perte 
                                de temps et de défauts ou déchets en mettant à disposition des solutions numériques pour corriger les niveaux de gaspillage.
                            </p>
                            <!-- <div class="line-links">
                                <a href="#">Sales Breakdown &amp; Funnel</a>
                                <a href="#">Abadoned Carts</a>
                                <a href="#">Revenue by Channel &amp; Devices</a>
                                <a href="#">Sales Forecast</a>
                            </div> -->
                        </div>
                        <!-- <div class="col-lg-6 order-0 order-lg-2">
                            <img src="{% static 'assets/img/transformation digitale.jpg' %}" alt="" >
                            <div class="img main-img1">
                                <img src="{% static 'assets/img/about/about_s5_1_1.png' %}" alt="" class="sm-circle">
                                <img src="{% static 'assets/img/about/about_s5_1_2.png' %}" alt="" class="img-body">
                                <img src="{% static 'assets/img/transformation digitale.jpg' %}" alt="" class="card1">
                                <img src="{% static 'assets/img/about/about_s5_1_3.png' %}" alt="" class="card1">
                                <img src="{% static 'assets/img/about/about_s5_1_4.png' %}" alt="" class="card2">
                                <img src="{% static 'assets/img/about/about_s5_1_5.png' %}" alt="" class="lg-circle">
                               
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- <div class="img main-img2">
                                <img src="assets/img/about/about_s5_2_1.png" alt="">
                                <img src="assets/img/about/about_s5_2_2.png" alt="" class="img-body">
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <div class="section-head mb-30 style-5">
                                <h2> Vente de matériels informatiques et de réseaux  </h2>
                            </div>
                            <p>
                                Grace à notre large réseau de partenaires, nous avons des gammes complètes de matériels informatiques 
                                (ordinateurs de bureau et portables, serveurs, logiciels, etc.) et de réseau (switch, routeurs, firewalls, etc.) 
                                que nous offrons à nos clients. Nous nous constituons en guichet unique pour tous leurs besoins en matériels, 
                                en leur simplifiant le processus d’achat pour l’acquisition à des coûts compétitifs.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="content pb-0">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-2 order-lg-0">
                            <div class="section-head mb-30 style-5">
                                <h2> Audit, Conseil et Accompagnement </h2>
                            </div>
                            <p>
                                Nous aidons les organisations à évaluer leurs infrastructures et solutions informatiques, 
                                pour identifier les vulnérabilités et les risques de sécurité et proposons des 
                                solutions pour mitiger voire supprimer ceux-ci. De plus nous les aidons à définir 
                                leur stratégie numérique, à identifier les opportunités d’amélioration de leur activité 
                                et à élaborer un plan directeur pour y parvenir. Enfin nous accompagnons dans la mise en 
                                œuvre de ces solutions en veillant à ce que les projets soient livrés à temps dans le respect 
                                des budgets et spécifications. Nous offrons aussi de la formation et du transfert de compétence à 
                                divers niveaux : utilisateurs, spécialiste des systèmes d’information, etc.
                            </p>
                            
                        </div>
                        <div class="col-lg-6 order-0 order-lg-2">
                            <!-- <div class="img main-img3">
                                <img src="assets/img/about/about_s5_3_1.png" alt="" class="img-body">
                                <img src="assets/img/about/about_s5_3_2.png" alt="">
                                <img src="assets/img/about/about_s5_3_3.png" alt="">
                                <img src="assets/img/about/about_s5_3_4.png" alt="">
                                <img src="assets/img/about/about_s5_3_5.png" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- <div class="img main-img2">
                                <img src="assets/img/about/about_s5_2_1.png" alt="">
                                <img src="assets/img/about/about_s5_2_2.png" alt="" class="img-body">
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <div class="section-head mb-30 style-5">
                                <h2> Assistance à maitrise d'ouvrage  </h2>
                            </div>
                            <p>
                                Grace à notre expertise et expérience, nous accompagnons nos clients dans 
                                la mise en œuvre de projets divers par l’identification et la formulation des besoins, 
                                le choix du meilleur prestataire et le suivi du projet jusqu’au go live.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end about ====== -->

        <!-- ====== start services ====== -->
        <section class="services section-padding bg-white pb-50 style-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-head text-center mb-60 style-5">
                            <h2 class="mb-20"> <span> Nos références </span> </h2>
                            <p>
                                Nous avons travaillé avec eux
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="services-slider position-relative style-6">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="service-card style-6">
                                    <div class="icon">
                                        <img src="assets/img/icons/serv_icons/16.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h5>Challenge Distribution</h5>
                                        <div class="text">
                                            You can provide the answers that your potential customers are trying to
                                            find, so you can become the industry.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service-card style-6">
                                    <div class="icon">
                                        <img src="assets/img/icons/serv_icons/15.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h5>ADS Garage</h5>
                                        <div class="text">
                                            Get more website traffic, more customers & more online visibility with
                                            powerful SEO services.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service-card style-6">
                                    <div class="icon">
                                        <img src="assets/img/icons/serv_icons/14.png" alt="">
                                    </div>
                                    <div class="info">
                                        <h5>Keyla Shop</h5>
                                        <div class="text">
                                            Your website has to impress your visitors within just a few seconds
                                        </div>
                                    </div>
                                </a>
                            </div>
                           
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end services ====== -->
        


        

    </main>
    <!--End-Contents-->

{% endblock %}